@mixin btn {
    display: inline-block;
    height: rem(48);
    padding: rem(16) rem(20);
    background-image: none;
    background: $white-color;
    border: 1px solid #d9d9d9;
    border-radius: $border-radius;
    outline: none;
    box-shadow: none;
    color: rgba($black-color, 0.85);
    cursor: pointer;
    font-family: $font-family;
    font-style: normal;
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(16);
    text-align: center;
    position: relative;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

@mixin btn-lg {
    height: rem(56);
    padding: rem(18) rem(20);
}

@mixin btn-md {
    height: rem(48);
    padding: rem(15) rem(20);
}

@mixin btn-primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: $hover-primary-color;
        border-color: $hover-primary-color;
    }

    &:disabled {
        background-color: $color-gray-20;
        border-color: $color-gray-20;
        color: $white-color;
    }
}


@mixin btn-secondary {
    color: $black-color;
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: $hover-secondary-color;
        border-color: $hover-secondary-color;
    }

    &:disabled {
        background-color: $color-gray-20;
        border-color: $color-gray-20;
        color: $color-gray-70;
    }
}

@mixin text {
    font-family: $font-family;
    font-size: rem(16);
    font-weight: 700;
    font-style: normal;
    line-height: $line-height-base;
}

@mixin text-primary {
    color: $primary-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $hover-primary-color;
    }    
}

@mixin text-disabled {
    color: $color-gray-70; 
}

@mixin link {
    font-family: $font-family;
    font-size: rem(16);
    font-weight: 700;
    font-style: normal;
    line-height: $line-height-base;
    text-decoration: underline;
}

@mixin link-primary {
    color: $color-gray;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $black-color;
    }
}

@mixin link-disabled {
    color: $color-gray-70; 
}

@mixin input {
    font-family: $font-family;
    font-size: rem(16);
    font-weight: 400;
    font-style: normal;
    line-height: $line-height-base;
}
@mixin input-primary {
    color: $color-gray-70;
    border: $input-border;
    border-radius: $border-radius;
    width: rem(270);
    height: rem(50);
    text-indent: $text-indent;
    caret-color: $primary-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $black-color;
        border: 1px solid $primary-color;
    }

    &::placeholder{
        color: $color-gray-70;
    }
}
@mixin input-disabled {
    color: $color-gray-70; 
    background-color: $color-gray-10;
    border: $color-gray-20;
}

@mixin input-blink-close {
    &::placeholder{
        color: $color-gray-20;
    }
}

