@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import 'https://unpkg.com/swiper/swiper-bundle.min.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #02020B;
  text-align: left;
  background-color: #ffffff;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}
a:focus {
  outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
}

button {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #6C41D9;
}

.h1,
h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
}

.h2,
h2 {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.h3,
h3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.h4,
h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.h5,
h5 {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.btn {
  display: inline-block;
  height: 3rem;
  padding: 1rem 1.25rem;
  background-image: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  outline: none;
  box-shadow: none;
  color: rgba(2, 2, 11, 0.85);
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.btn-primary {
  color: #ffffff;
  background-color: #6C41D9;
  border-color: #6C41D9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #5834B1;
  border-color: #5834B1;
}
.btn-primary:disabled {
  background-color: #DEE1E3;
  border-color: #DEE1E3;
  color: #ffffff;
}

.btn-secondary {
  color: #02020B;
  background-color: #FDBF2D;
  border-color: #FDBF2D;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #EEAF1B;
  border-color: #EEAF1B;
}
.btn-secondary:disabled {
  background-color: #DEE1E3;
  border-color: #DEE1E3;
  color: #929BA0;
}

.btn-lg {
  padding: 0.9375rem 1.25rem;
}

.btn-md {
  padding: 0.9375rem 1.25rem;
}

.text {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
}

.text-primary {
  color: #6C41D9;
}
.text-primary:hover, .text-primary:focus, .text-primary:active, .text-primary.active {
  color: #5834B1;
}

.text-disabled {
  color: #929BA0;
}

.link {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  text-decoration: underline;
}

.link-primary {
  color: #556068;
}
.link-primary:hover, .link-primary:focus, .link-primary:active, .link-primary.active {
  color: #02020B;
}

.link-disabled {
  color: #929BA0;
}

.input {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.input-primary {
  color: #929BA0;
  border: 1px solid #EFF0F1;
  border-radius: 12px;
  width: 100%;
  height: 3.125rem;
  text-indent: 10px;
  caret-color: #6C41D9;
  outline: none;
}
.input-primary:hover, .input-primary:focus, .input-primary:active, .input-primary.active {
  color: #02020B;
  border: 1px solid #6C41D9;
}
.input-primary::placeholder {
  color: #929BA0;
}

.input-disabled {
  color: #929BA0;
  background-color: #EFF0F1;
  border: #DEE1E3;
}

.input-blink-close::placeholder {
  color: #DEE1E3;
}

.input-error {
  border: 1px solid #E66A68;
}
.input-error::placeholder {
  color: #02020B;
}

.input-filled::placeholder {
  color: #02020B;
}

.checkbox-primary {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  padding: 0px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-primary input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0;
}
.checkbox-primary input:checked ~ .chk-overlay {
  border: 2px solid #6C41D9;
  background-color: #6C41D9;
}
.checkbox-primary input:checked ~ .chk-overlay:after {
  display: block;
}
.checkbox-primary .chk-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid #a0a0a0;
  border-radius: 0.375rem;
  background-color: #ffffff;
}
.checkbox-primary .chk-overlay:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 0.375rem;
  height: 0.625rem;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-primary:hover input ~ .chk-overlay {
  border-color: #6C41D9;
}
.checkbox-primary:hover input:checked ~ .chk-overlay:after, .checkbox-primary.active input:checked ~ .chk-overlay:after {
  opacity: 0.4;
}
.checkbox-primary.disabled input {
  cursor: not-allowed;
}
.checkbox-primary.disabled input ~ .chk-overlay {
  background-color: #EFF0F1;
  border-color: #EFF0F1;
}
.checkbox-primary.disabled input:checked ~ .chk-overlay {
  background-color: #EFF0F1;
  border-color: #EFF0F1;
}
.checkbox-primary.disabled input:checked ~ .chk-overlay:after {
  border-color: #C4CBCF;
}
.checkbox-primary.disabled:hover input:checked ~ .chk-overlay:after {
  opacity: 1 !important;
}

.checkbox-primary-outline {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  padding: 0px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-primary-outline input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0;
}
.checkbox-primary-outline input:checked ~ .chk-overlay {
  border: 2px solid #6C41D9;
  background-color: #ffffff;
}
.checkbox-primary-outline input:checked ~ .chk-overlay:after {
  display: block;
}
.checkbox-primary-outline .chk-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid #6C41D9;
  border-radius: 0.375rem;
  background-color: #ffffff;
}
.checkbox-primary-outline .chk-overlay:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 0.375rem;
  height: 0.625rem;
  border: solid #6C41D9;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-primary-outline:hover input ~ .chk-overlay {
  border-color: #6C41D9;
}
.checkbox-primary-outline:hover input:checked ~ .chk-overlay, .checkbox-primary-outline.active input:checked ~ .chk-overlay {
  background: rgba(108, 65, 217, 0.2);
}
.checkbox-primary-outline.disabled input {
  cursor: not-allowed;
}
.checkbox-primary-outline.disabled input ~ .chk-overlay {
  background-color: #EFF0F1;
  border-color: #C4CBCF;
}
.checkbox-primary-outline.disabled input:checked ~ .chk-overlay {
  background-color: #EFF0F1;
  border-color: #C4CBCF;
}
.checkbox-primary-outline.disabled input:checked ~ .chk-overlay:after {
  border-color: #C4CBCF;
}
.checkbox-primary-outline.disabled:hover input:checked ~ .chk-overlay:after {
  opacity: 1 !important;
}

.radio-primary {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  padding: 0px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-primary input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0;
}
.radio-primary input:checked ~ .rdb-overlay {
  border: 2px solid #6C41D9;
  background-color: #6C41D9;
}
.radio-primary input:checked ~ .rdb-overlay:after {
  display: block;
}
.radio-primary .rdb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid #a0a0a0;
  border-radius: 50%;
  background-color: #ffffff;
}
.radio-primary .rdb-overlay:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 0.375rem;
  height: 0.625rem;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio-primary:hover input ~ .rdb-overlay {
  border-color: #6C41D9;
}
.radio-primary:hover input:checked ~ .rdb-overlay:after, .radio-primary.active input:checked ~ .rdb-overlay:after {
  opacity: 0.4;
}
.radio-primary.disabled input {
  cursor: not-allowed;
}
.radio-primary.disabled input ~ .rdb-overlay {
  background-color: #EFF0F1;
  border-color: #EFF0F1;
}
.radio-primary.disabled input:checked ~ .rdb-overlay {
  background-color: #EFF0F1;
  border-color: #EFF0F1;
}
.radio-primary.disabled input:checked ~ .rdb-overlay:after {
  border-color: #C4CBCF;
}
.radio-primary.disabled:hover input:checked ~ .rdb-overlay:after {
  opacity: 1 !important;
}

.radio-primary-outline {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  padding: 0px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-primary-outline input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0;
}
.radio-primary-outline input:checked ~ .rdb-overlay {
  border: 2px solid #6C41D9;
  background-color: #ffffff;
}
.radio-primary-outline input:checked ~ .rdb-overlay:after {
  display: block;
}
.radio-primary-outline .rdb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid #6C41D9;
  border-radius: 50%;
  background-color: #ffffff;
}
.radio-primary-outline .rdb-overlay:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 0.375rem;
  height: 0.625rem;
  border: solid #6C41D9;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio-primary-outline:hover input ~ .rdb-overlay {
  border-color: #6C41D9;
}
.radio-primary-outline:hover input:checked ~ .rdb-overlay, .radio-primary-outline.active input:checked ~ .rdb-overlay {
  background: rgba(108, 65, 217, 0.2);
}
.radio-primary-outline.disabled input {
  cursor: not-allowed;
}
.radio-primary-outline.disabled input ~ .rdb-overlay {
  background-color: #EFF0F1;
  border-color: #C4CBCF;
}
.radio-primary-outline.disabled input:checked ~ .rdb-overlay {
  background-color: #EFF0F1;
  border-color: #C4CBCF;
}
.radio-primary-outline.disabled input:checked ~ .rdb-overlay:after {
  border-color: #C4CBCF;
}
.radio-primary-outline.disabled:hover input:checked ~ .rdb-overlay:after {
  opacity: 1 !important;
}

.typography-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.typography-cards .typography-card {
  flex: 30% 0 0;
}
.typography-cards .typography-card .typography-list ul {
  padding: 0;
  margin: 30px 0px;
}
.typography-cards .typography-card .typography-list ul li {
  list-style: none;
}
.typography-cards .typography-card .typography-list ul li .typography-section {
  margin-bottom: 40px;
}

.button-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-cards .button-card {
  display: flex;
  flex-direction: column;
}
.button-cards .button-card .button-subtitle {
  margin-top: 30px;
}
.button-cards .button-card .button-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}
.button-cards .button-card .button-list .button {
  flex: 200px 0 0;
}
.button-cards .button-card .button-list .button h5 {
  margin-top: 10px;
}

.text-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.text-cards .text-card {
  display: flex;
  flex-direction: column;
}
.text-cards .text-card .text-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.text-cards .text-card .text-list .text-box {
  flex: 200px 0 0;
}
.text-cards .text-card .text-list .text-box h5 {
  margin-top: 10px;
}

.link-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.link-cards .link-card {
  display: flex;
  flex-direction: column;
}
.link-cards .link-card .link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.link-cards .link-card .link-list .link-box {
  flex: 200px 0 0;
}
.link-cards .link-card .link-list .link-box h5 {
  margin-top: 10px;
}

.input-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.input-cards .input-card {
  display: flex;
  flex-direction: column;
}
.input-cards .input-card .input-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px -20px -10px -15px;
}
.input-cards .input-card .input-list .input-box {
  flex: 335px 0 0;
  padding: 10px;
}
.input-cards .input-card .input-list .input-box h5 {
  margin-top: 10px;
}
.input-cards .input-card .input-list .input-box p {
  color: #E66A68;
  position: absolute;
  font-size: 0.75rem;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #EFF0F1;
  border-radius: 50%;
  text-align: center;
  color: #556068;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  left: 270px;
  bottom: 36px;
}

.checkbox-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.checkbox-cards .checkbox-card {
  display: flex;
  flex-direction: column;
}
.checkbox-cards .checkbox-card .checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.checkbox-cards .checkbox-card .checkbox-list .checkbox-box {
  flex: 250px 0 0;
  padding: 10px;
}
.checkbox-cards .checkbox-card .checkbox-list .checkbox-box h5 {
  margin-top: 10px;
}
.checkbox-cards .checkbox-card .checkbox-list .checkbox-box p {
  color: #E66A68;
  position: absolute;
  font-size: 0.75rem;
}

.radio-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.radio-cards .radio-card {
  display: flex;
  flex-direction: column;
}
.radio-cards .radio-card .radio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.radio-cards .radio-card .radio-list .radio-box {
  flex: 250px 0 0;
  padding: 10px;
}
.radio-cards .radio-card .radio-list .radio-box h5 {
  margin-top: 10px;
}
.radio-cards .radio-card .radio-list .radio-box p {
  color: #E66A68;
  position: absolute;
  font-size: 0.75rem;
}

.swiper-container {
  height: 600px;
}
.swiper-container .swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container .swiper-slide .product-card {
  display: block;
  width: 100%;
  height: 356px;
  border: 1px solid #EFF0F1;
  border-radius: 12px;
  background: #ffffff;
  position: relative;
}
.swiper-container .swiper-slide .product-card .product-detail {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 0;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image {
  position: relative;
  padding-top: 100%;
  width: 100%;
  flex: 1 1;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .image-tag {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .product-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 11;
  background: #ddd;
  padding: 4px 8px;
  border-radius: 6px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .product-badge.badge-color-1 {
  background: #FA9EB5;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .product-badge.badge-color-2 {
  background: #7CCBC1;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .weight-tag {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  line-height: 12px;
  background: rgba(85, 96, 104, 0.6);
  padding: 0.25rem;
  color: #ffffff;
  border-radius: 0.375rem;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .wishlist-tag {
  position: absolute;
  right: 1.25rem;
  bottom: 0.3125rem;
  color: #DEE1E3;
}
.swiper-container .swiper-slide .product-card .product-detail .product-image .wishlist-tag.wishlisted {
  color: #E66A68;
}
.swiper-container .swiper-slide .product-card .product-detail .product-content {
  padding: 12px;
  flex: 140px 0 0;
}
.swiper-container .swiper-slide .product-card .product-detail .product-content p {
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #929BA0;
  letter-spacing: 0.03125rem;
}
.swiper-container .swiper-slide .product-card .product-detail .product-content h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  word-break: break-word;
  color: #02020B;
  margin-bottom: 1rem;
}
.swiper-container .swiper-slide .product-card .product-detail .product-content .price-tag {
  position: relative;
}
.swiper-container .swiper-slide .product-card .product-detail .product-content .price-tag h6 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #02020B;
  margin: 0;
}
.swiper-container .swiper-slide .product-card .product-detail .product-content .price-tag .tag-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #6C41D9;
  border-radius: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.swiper-container .swiper-slide .product-card.added-in-cart {
  background: #E4DCF9;
  border: 1px solid #6C41D9;
  padding-top: 3.125rem;
}
.swiper-container .swiper-slide .product-card.added-in-cart .product-cart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-align: center;
  color: #02020B;
  font-weight: 400;
  margin: 0;
  padding: 5px;
}
.swiper-container .swiper-slide .product-card.added-in-cart .product-detail {
  border-top: 1px solid #6C41D9;
}
.swiper-container .swiper-slide .product-card.added-in-cart .product-detail .product-image {
  padding-top: 74%;
}

/*# sourceMappingURL=style.css.map */
