.text {
    @include text;
}

.text-primary {
    @include text-primary;
}

.text-disabled {
    @include text-disabled;
}

.link {
    @include link;
}

.link-primary {
    @include link-primary;
}


.link-disabled {
    @include link-disabled;
}



.text-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;

    .text-card {
        display: flex;
        flex-direction: column;

        .text-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 20px;

            .text-box {
                flex: 200px 0 0;

                h5 {
                    margin-top: 10px;
                }
            }
        }
    }
}

.link-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;

    .link-card {
        display: flex;
        flex-direction: column;

        .link-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 20px;

            .link-box {
                flex: 200px 0 0;

                h5 {
                    margin-top: 10px;
                }
            }
        }
    }
}